* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Fira Code', monospace;
    color: whitesmoke;
    background-color: darksalmon;
    max-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: max(40vw, 400px);

    margin: 0 auto;
    padding-top: 32px;
    max-height: 70%;

}


h1 {
    font-size: 40px;
}

p {
    text-align: center;
}

p#message {
    font-size: 40px;
    font-weight: 800;
    background-color: lightgoldenrodyellow;
    color: salmon;
    padding: 16px;
    border-radius: 8px;
}

.inactive {
    display: none;
}



#restartGame {
    padding: 16px 32px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Fira Code', monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: lightgoldenrodyellow;
    color: #333;
    border: none;
    border-radius: 8px;
}

.board {
    width: max(30vw, 400px);
    height: 80%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.markContainer {
    color: salmon;
    background-color: lightgoldenrodyellow;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 80px;
    color: salmon;
}

.markContainer p {
    color: black
}

.opacity {
    opacity: 25%;
}